body {
    margin: 0;
    background-color: #023047;
    @import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');
}

.container {
    display: flex;
    justify-content: space-around;
    color: #219ebc;
}

h3 {
    margin: 20px 25px;
}

span {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    border: 3px solid black;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ffb703;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 40px;
}

button {
    background-color: #023047;
    border: 2px solid #8ecae6;
    margin: 3px;
    color: #8ecae6;
}
